body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
}

h1.title {
    margin-bottom: 30px;
    font-size: 2;
}

.gallery-section h2 {
    margin: 20px 0;
    font-size: 2;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-bottom: 40px;
}

.gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}
