.fullbody-title{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(109, 179, 109);
    color: rgb(9, 58, 11);
}

.fem-images img{
    width: 350px;
    height: 450px;
    display: inline-block;
}

.masc-images img{
    width: 350px;
    height: 450px;
    display: inline-block;
}
