.MascTitle {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: antiquewhite;
    color: brown;
}



.masc-portraits-photos img {
    width: 350px;
    height: auto; 
}