body{
    background-color: antiquewhite;
}



#nav1 {
    background-color: lightsteelblue;
    height: 50px;
    padding: 3px;
    margin-bottom: 20px;
}

#nav1 ul {
    list-style: none;
}

#nav1 ul li {
    display: inline-block;
}

#nav1 ul li a{
    text-decoration: none;
    margin-right: 30px;
    color: darkblue;
}



.MascMiscPictures {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightsteelblue;
    color: navy;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.Masc-images h2 {
    font-family: 'Trebuchet MS', Arial, sans-serif;
    background-color: lightgray;
    color: darkblue;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 3px;
    text-align: center;
}

.Masc-images img {
width: 250px;
height: auto;
margin: 10px;
border-radius: 5px;
box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
}

.Masc-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}