body{
    background-color: antiquewhite;
    align-content: center;
}

.form-group{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large; 
    width: 500px;
    height: 100px;
}
